<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
    <nav>
        <a href="/">Главная</a>
        <a href="/user">Пользователи</a>
        <a href="/about">О нас</a>
    </nav>
        {% include content_template_name %}
    </body>
</html>